<app-box-builder [box]="workingBox" (boxChange)="createOrUpdate($event)" [id]="workingIndex + 1" [mode]="mode"></app-box-builder>

<app-box-list [boxes]="boxes" (edit)="edit($event)" (delete)="delete($event)"></app-box-list>

<button (click)="solve()">Solve</button>
<button (click)="solveIgnoreBoxSize()">Solve Unconstrained</button>

<p>
  <label for="width">Width</label>
  <input type="number" id="width" [(ngModel)]="solutionWidth" min="1">
</p>

<p>
  <label for="height">Height</label>
  <input type="number" id="height" [(ngModel)]="solutionHeight" min="1">
</p>

<ng-container *ngIf="solution.kind === 'Nothing'">No solution found</ng-container>

<ng-container *ngIf="solution.kind === 'Just'">
  <app-box-display [box]="solution.value"></app-box-display>
</ng-container>
